tr
  td
    = task.name
  td
    = task.description
  td
    - unless task.owner?(current_user)
      = task.user.name
  td
    = link_to 'Show', task, :class => "btn btn-info"
  td
    = link_to 'Edit', edit_task_path(task), :class => "btn btn-success"
  td
    = link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
  - if task.owner?(current_user)
    td
      = link_to 'Share', share_task_path(task), :class => "btn btn-primary"