h2
  = 'Listing tasks'
br/
table.table
  tr
    th
      = 'Name'
    th
      = 'Description'
    th
      = 'Shared by'
    th
    th
    th
  - @tasks.each do |task|
    = sync partial: 'list', resource: task
  = sync_new partial: 'list', resource: Task.new, scope: @tasks
br/
= link_to 'New task', new_task_path, :class=>"btn btn-warning"
