h2
  = 'Share'
= form_for :create_shared, { url: create_shared_task_path, :html => { :class => "form-horizontal", :role => "form" } } do |f|
  .form-group
    = f.label :email, :class => "col-sm-2 control-label"
    .col-sm-8
      = f.text_field :email, :class => "form-control"
      br/
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Share', :class => "btn btn-primary"
br/
.col-sm-offset-2.col-sm-10
  = link_to 'Back', tasks_path
