h3
  = 'Task'
table.table
  tr
    th
      = 'Name'
    th
      = 'Description'
  tr
    td
      = @task.name
    td
      = @task.description
br/
= link_to 'Edit', edit_task_path
= ' | '
= link_to 'Back', tasks_path
