doctype html
html
  head
    title TaskManager
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag Sync.adapter_javascript_url, 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    nav.navbar.navbar-default role="navigation" 
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed data-target="#main_navbar" data-toggle="collapse" type="button" 
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          = link_to 'Tasks', root_path,:class => 'navbar-brand'
        #main_navbar.collapse.navbar-collapse     
          ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              li
                = link_to 'Edit_profile', edit_user_registration_path
              li
                = link_to 'Logout', destroy_user_session_path, method: :delete
            - else
              li
                = link_to 'Register', new_user_registration_path
              li
                = link_to 'Login', new_user_session_path
    .container-fluid
      .raw
        .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}"
          = yield
